body{

  background-color: #ecc2f7;
}

.table-container {
  margin: 20px auto;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

thead {
  background-color: #334b7a;
  color: white;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: darkred;
}